<p>¡Hola {{firstName}}!</p>
<p>Hacé click en el siguiente enlace para restablecer tu contraseña:</p>
<p>
	<a href='{{url}}'>Restablecer contraseña</a>
</p>

<p>Si no deberías recibir este mail o hay algun error en el mismo, por favor contactá a soporte.</p>