<p>¡Hola {{adminName}}!</p>
<p>El usuario {{userName}} {{userlastName}} completó su registro.</p>
<p>Si no debió recibir la invitación o nadie con la autorización se la envió, por favor contactá a soporte.</p>