body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  color: purple;
  text-decoration: underline;
}

.cursor-pointer{
  cursor: pointer;
}

.error{
  color: red;
}

.border-error{
  border-color: red;
}

.mi-actividad{
  background-color: aliceblue;
  min-height: 90vh;
}