<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmacion Email</title>
  </head>
  <body>
    <div
      style="
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      "
    >
      <div
        class="content"
        style="
          width: 700px;
          height: 100%;
          background-color: #ffffff;
          border-radius: 5px;
          box-shadow: 0px 0px 10px 0px #7070701a;
          padding: 30px;
          transform: translateY(2%);
        "
      >
        <div class="header">
          <img
            src="{{ large_logo }}"
            alt=""
            style="height: auto; width: 135px"
          />
        </div>

        <div>
          <div class="title">
            <p
              style="
                margin-top: 10px;
                margin-bottom: 35px;
                font-size: 1.5em;
                color: #707070;
              "
            >
              Confirmación de Email
            </p>
          </div>

          <div class="detalles">
            <p style="font-size: 14px; color: #707070">
              <br />
              Estimado/a <b>{{nombre}} {{apellido}}</b> gracias por registrarte
              en CUCICBA. <br />
              Por favor, confirme su email haciendo click en el botón de abajo:
            </p>

            <div class="button">
              <a
                style="
                  background-color: #1f386f;
                  padding: 13px;
                  color: white;
                  text-decoration: none;
                  text-align: center;
                  margin: 0 auto;
                  margin-top: 52px;
                  display: block;
                  width: 210px;
                  border-radius: 5px;
                "
                href="{{url}}"
                >Activa tu cuenta</a
              >
            </div>
          </div>
        </div>

        <div
          class="footer"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: -25px;
            margin-top: 100px;
          "
        >
          <div
            class="logo"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              margin-bottom: -30px;
            "
          >
            <img src="{{ logo }}" alt="" style="height: auto; width: 42px" />
            <p
              id="text-logo"
              style="margin-top: 10px; font-size: 15px; color: #1f386f"
            >
              Colegio Profesional Inmobiliario
            </p>
          </div>

          <div
            class="footer-text"
            style="
              margin-top: 25px;
              margin-bottom: 20px;
              text-align: center;
              font-size: 11px;
              color: #707070;
            "
          >
            <p>
              Adolfo Alsina 1382, Ciudad Autónoma de Buenos Aires
              <br />
              Teléfono 11 4124-6060
              <br />
              <a
                style="color: #1476cc; margin-top: 85px; text-decoration: none"
                href="info@colegioinmobiliario.org.ar"
                >info@colegioinmobiliario.org.ar</a
              >
            </p>
          </div>
        </div>
        <hr style="height: 1px; background-color: #70707027; border: none" />
        <div
          class="warning"
          style="text-align: center; font-size: 12px; color: #707070"
        >
          <p>
            Si no has sido vos quien ha solicitado turno o ya confirmo en el
            portal, por favor ignora este email. <br />
            Gracias
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
